<!-- Jovana Simić 2020/0360 -->

{% load static %}

        <div id="footer" class="row">
            <div class="col-xl-12 col-xxl-12" style="margin-top: 20px;">
                <div style="height: 100px; margin-bottom: 30px;">
                    <img src="{% static 'images/bosss beli.png' %}" alt="Logo" style="height:70px; object-fit: contain;">
                    <img id="fb" src="{% static 'images/fb.png' %}" alt="Logo" style="height:70px; object-fit: contain; float: right; margin-right: 20px;">
                    <img id="tw" src="{% static 'images/tw.png' %}" alt="Logo" style="height:70px; object-fit: contain; float: right; margin-right: 20px;">
                    <img id="ig" src="{% static 'images/ig.png' %}" alt="Logo" style="height:70px; object-fit: contain; float: right; margin-right: 20px;">
                </div>
            </div>

            <div class="row justify-content-center" style="background: transparent">
                <div class="col-xl-3" >
                    <div>Partneri</div>
                    <div style="font-size: 24px;">
                        <br>The Black Turtle
                        <br>Konkvistador
                        <br>Okto Pub
                        <br>Helga's Pub
                    </div>
                </div>

                <div class="col-xl-3" >
                    <div>Naš tim</div>
                    <div style="font-size: 24px;">
                        <br>Nikola Babić
                        <br>Jovana Simić
                        <br>Aleksandar Suvačarov
                        <br>Andrija Ognjanović
                    </div>
                </div>

                <div class="col-xl-3" >
                    <div>Kontakti</div>
                    <div style="font-size: 24px;">
                        <br>+38163123456
                        <br>test@email.com
                        <br>Gandijeva 1
                    </div>
                </div>
            </div>




{#            <div class="col-xl-1" style="width: 20%;"></div>#}
{#            <div class="col-xl-3" >#}
{#                <div>Organizacije</div>#}
{#                <div style="font-size: 24px;">#}
{#                    <br>Omorika#}
{#                    <br>Konkvistador#}
{#                    <br>Znam za pab#}
{#                    <br>Misa Tumbas#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3" >#}
{#                <div>Naš tim</div>#}
{#                <div style="font-size: 24px;">#}
{#                    <br>Nikola Babić#}
{#                    <br>Jovana Simić#}
{#                    <br>Aleksandar Suvačarov#}
{#                    <br>Andrija Ognjanović#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-xl-3" >#}
{#                <div>Kontakti</div>#}
{#                <div style="font-size: 24px;">#}
{#                    <br>+38154123123#}
{#                    <br>test@email.com#}
{#                    <br>Bulevar 123#}
{#                </div>#}
{#            </div>#}

            <div class="col-xl-12 text-center" style="font-size: 20px; margin-top: 50px; margin-bottom: 10px;">
                © 2023 BOSS. All trademarks are the property of their respective owners.
            </div>
        </div>
    </div>

</body>
</html>